body { background-color: #56C5EE;}
h1 { color: #EEEEEE; font-weight: bold; font-family: Helvetica; font-size: 175%; margin-bottom: 25px; -webkit-font-smoothing: antialiased; }
h2 { color: #EEEEEE; font-weight: bold; font-family: Helvetica; font-size: 150%; margin-bottom: 25px; -webkit-font-smoothing: antialiased; }
p { color: #EEEEEE; font-family: Helvetica; font-size: 90%; -webkit-font-smoothing: antialiased; }
div {text-align: center; width: 100%; height: auto;}