* {
    padding: 0;
    margin: 0;
}

html, body, div.main {
    width: -webkit-fill-available;
    width: fill-available;
    width: -moz-available;
}

div.main {
    position: absolute;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px;
}

div.background {
    position: fixed;
    z-index: -10000;
    height: 100%;
    width: 100%;
    background-color: #56C5EE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./res/avatar.svg);
}

h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 175%;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
}

p {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 125%;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

a:hover {
    color: #EEEEEE;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div.about {
    text-align: right;
    max-width: 100%;
    max-height: 100%;
    min-height: 70vh;
    padding: 100px;
}

p.website {
    color: #EEEEEE;
    font-family: Helvetica;
    font-size: 90%;
    -webkit-font-smoothing: antialiased;
}

a.website {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 226, 140, 0.5);
}

a.website:hover {
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 226, 140, 1);
}

div.website {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

div.links {
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
}

a.links {
    box-sizing: border-box;
    display: inline-flex;
    align-content: center;
    background-color: rgba(238, 238, 238, 0.7);
    border: 2px solid rgba(238, 238, 238, 0.7);
    color: #58a3bf;
    border-radius: 2px;
    padding: 10px 10px 10px 0px;
    height: 128px;
    width: 100%;
    font-family: Helvetica;
    font-size: 125%;
    position: relative;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(20px);
}

a.links:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

img.links {
    display: inline-flex;
    max-width: 64px;
    min-width: 64px;
    max-height: 64px;
    min-height: 64px;
    position: relative;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.links p{
    padding: 1em;
    text-align: left;
    border-left: 1.2em solid #12304e;
    background-color: rgba(26, 49, 89, 0.2);
    font-size: 1.5rem;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

#links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
}

#links ul::after {
    content: "";
    flex: auto;
} 

@media screen and (max-width: 800px),
screen and (orientation: portrait) {
    div.about {
        padding: 25px;
    }
    div.background {
        background-image: url(/res/small_avatar.svg);
    }
}